@import '../../flex-dat';

.flex-start {
  .flex-start {
    @include flex-dat('flex-start center');
  }
  .start {
    @include flex-dat('start center');
  }
  .top {
    @include flex-dat('top center');
  }
  .left {
    @include flex-dat('center left');
  }
}
