.invalid-input .single-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: "#14";
  -ms-flex-pack: "#14";
  -webkit-justify-content: "#14";
  justify-content: "#14";
  -webkit-box-align: "#14";
  -ms-flex-align: "#14";
  -webkit-align-items: "#14";
  align-items: "#14";
}
.invalid-input .double-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: "987";
  -ms-flex-pack: "987";
  -webkit-justify-content: "987";
  justify-content: "987";
  -webkit-box-align: "lkjhgfdsa";
  -ms-flex-align: "lkjhgfdsa";
  -webkit-align-items: "lkjhgfdsa";
  align-items: "lkjhgfdsa";
}
