@import '../../flex-dat';

.space-around {
  .space-around {
    @include flex-dat('center space-around');
  }
  .around {
    @include flex-dat('center around');
  }
  .together {
    @include flex-dat('center together');
  }
}